<a href="https://colab.research.google.com/github/mahshid-khojandi/python-set/blob/main/python_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A set is an unordered collection with no duplicate elements

Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets

In [21]:
# Creating sets using built-in function
set_one = set((1, "two", (2, 53, 4)))
set_one

{(2, 53, 4), 1, 'two'}

In [9]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
 # show that duplicates have been removed
print(basket)

{'pear', 'orange', 'apple', 'banana'}

In [22]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(len(basket))

4

In [23]:
# Checking if an element is in a set
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' in basket

True

In [24]:
# Checking if an element is in a set
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' not in basket

False

In [13]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [16]:
a = set('abracadabra')
b = set('alacazam')
# letters in a but not in b
a - b

{'b', 'd', 'r'}

In [17]:
a = set('abracadabra')
b = set('alacazam')
# letters in a or b or both
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [18]:
a = set('abracadabra')
b = set('alacazam')
# letters in both a and b
a & b

{'a', 'c'}

In [19]:
a = set('abracadabra')
b = set('alacazam')
# letters in a or b but not both
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

You can use the add() method to insert an element into a set.

If you want to put several objects in a set at the same time, use the update() method.

In [25]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.add('kiwi')
print (basket)

{'pear', 'orange', 'banana', 'kiwi', 'apple'}

In [27]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('kiwi', 'mango', 'grapes')
print (basket)

{'i', 'pear', 'w', 'r', 'k', 'o', 's', 'e', 'p', 'orange', 'banana', 'n', 'm', 'g', 'a', 'apple'}

In [28]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update(['kiwi', 'mango', 'grapes'])
print (basket)

{'pear', 'grapes', 'mango', 'orange', 'banana', 'kiwi', 'apple'}

Removing an element from a set

In [29]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.remove('orange')
print (basket)

{'pear', 'apple', 'banana'}

In [30]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.remove('kiwi')
print (basket)

KeyError: 'kiwi'

In [31]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.discard('kiwi')
print (basket)

{'pear', 'orange', 'apple', 'banana'}

pop() method to remove and return a random element from a set

In [33]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
x = basket.pop()
print (basket, x)

{'orange', 'apple', 'banana'} pear

clear() method to remove all items from a set

In [34]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.clear()
print (basket)

set()